body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9f5db;
    margin: 0;
    padding: 0;
}

.navbar__container {
    overflow: hidden;
    background-color: #718355;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links inside the navbar__container */
.navbar__container a {
    font-size: 1rem;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

/* The navbar__dropdown container */
.navbar__dropdown {
    overflow: hidden;
}

/* navbar__dropdown button */
.navbar__dropdown--button {
    display: block;
    font-size: 1rem;
    border: none;
    color: white;
    padding: 14px 16px;
}

/* Add a red background color to navbar__container links on hover */
.navbar__container a:hover, .navbar__dropdown:hover .navbar__dropdown--button {
    background-color: #87986a;
}

/* navbar__dropdown content (hidden by default) */
.navbar__dropdown--content {
    display: none;
    position: absolute;
    background-color: #cfe1b9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the navbar__dropdown */
.navbar__dropdown--content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to navbar__dropdown links on hover */
.navbar__dropdown--content a:hover {
    background-color: #b5c99a;
}

/* Show the navbar__dropdown menu on hover */
.navbar__dropdown:hover .navbar__dropdown--content {
    display: block;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        padding: 0 20px;
    }

    .navbar__menu {
        display: block;
        text-align: center;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        background: #718355;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        height: auto;
        z-index: 99;
    }

    .navbar__dropdown--content a {
        text-align: center;
    }

    .navbar__dropdown:hover .navbar__dropdown--content {
        width: 100%;
    }

    .navbar__menu.active {
        top: 50px;
        opacity: 1;
    }

    .navbar__toggle {
        display: block;
        cursor: pointer;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        opacity: 0;
        transform: translateY(-8px) rotate(-45deg);
    }
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.home-icon {
    background-color: #87986A;
    text-decoration: none;
    border-radius: 15px;
}

.large-home-icon {
    background-color: #87986A;
    text-decoration: none;
    border-radius: 15px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5c99a;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    margin: 15px;
}

.icon-wrapper img {
    width: 300px;  /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    margin: 15px;
}

h1 {
    text-align: center;
}
th, td {
    text-align: center;
}

#action {
    color: #155E95;
}
#action:hover {
    color: #C84C05;
}

table {
    border-collapse: collapse;
    border: 3px solid #87986A;
    width: 100%; /* Adjust to fit within the container */
}

th, td {
    border: 2px solid #87986A;
}
input {
    padding: 3px; /* Adjust padding for a snug fit */
    box-sizing: border-box; /* Include padding and border in the element's width */
    font-size: inherit; /* Match the font size of the table */
    text-align: center; /* Align input text to match table style */
    width: 100%;
}



