/* Sales CSS */
.sales {
    margin: 15px 30px;
    padding: 0;
    max-width: 1300px;
}

.sales__container {
    width: 100%;
}

.sales__content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.sales__card {
    padding: 0 5px;
    max-width: 100%;
    height: 70px;
    background: linear-gradient(135deg, #3d5a40, #2a3b1d);
    color: #eef2ea;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sales__card--content {
    display: none;
}

.sales__card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.sales__card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}

.sales__card.expanded .sales__card--content {
    display: block;
}

.sales__card--partition {
    padding: 10px 15px;
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid #3d5a40;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sales__card--plus {
    max-width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.fas {
    max-width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.sales__card.expanded .sales__card--plus,
.sales__card.expanded .fas {
    display: none;
}

.sales__card--delivered {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.sales__card--delivered input[type="submit"] {
    padding: 10px 30px; 
    font-size: 16px;
    background: #6aac89;
    color: #eef2ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.sales__card--paid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales__card--paid input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    background: #6aac89;
    color: #eef2ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#total__debt {
    font-size: 18px;
    font-weight: 625;
    color: #e74c3c;
    font-style: italic;
    margin-right: 20px;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(135deg, #3d5a40, #2a3b1d);
    color: #eef2ea;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
}