{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>{{ _('Sales Order - Product Management') }}</h1>
    
    <div>
        <div>
            <table>
                <tr>
                    <th>{{ _('Product ID') }}</th>
                    <th>{{ _('Product Name') }}</th>
                    <th>{{ _('Quantity') }}</th>
                    <th>{{ _('Price') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
                {% for row in results %}
                    <tr>
                        <td>{{ row.productID }}</td>
                        <td>{{ row.productName }}</td>
                        <td>{{ row.quantity }}</td>
                        <td>{{ row.sellingPrice }}</td>
                        <td>
                            <a id="action", href="/sales_order/add_products/delete/{{ row.salesOrderID }}/{{ row.productID }}">{{ _('Delete') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/sales_order/add_products/{{ sales_order.salesOrderID }}" method="POST">
                    <tr>
                        <td></td>
                        <td><input type="text" name="productName" list="products" autocomplete="off"></td>
                        <td><input type="number" name="quantity" autocomplete="off"></td>
                        <td></td>
                        <td><input type="submit" value="Add Product"></td>
                    </tr>
                </form>
            </table>
            <datalist id="products">
                {% for product in products %}
                    <option value="{{ product.productName }}"></option>
                {% endfor %}
            </datalist>
        </div>
        <div>
            <h2>{{ _('Product List') }}</h2>
            <table>
                <tr>
                    <th>{{ _('Product ID') }}</th>
                    <th>{{ _('Product Name') }}</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.productID }}</td>
                        <td>{{ product.productName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>
{% endblock%} 