{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>Purchase Order - Product Management</h1>
    <div>
        <div>
            <table>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                {% for row in results %}
                    <tr>
                        <td>{{ row.productID }}</td>
                        <td>{{ row.productName }}</td>
                        <td>{{ row.quantity }}</td>
                        <td>{{ row.purchasingPrice }}</td>
                        <td>
                            <a id="action", href="/purchase_order/add_products/delete/{{ row.purchaseOrderID }}/{{ row.productID }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/purchase_order/add_products/{{ purchase_order.purchaseOrderID }}" method="POST">
                    <tr>
                        <td></td>
                        <td><input type="text" name="productName" list = "products" autocomplete="off"></td>
                        <td><input type="number" name="quantity" autocomplete="off"></td>
                        <td></td>
                        <td><input type="submit" value="Add Product"></td>
                    </tr>
                </form>
            </table>
            <datalist id="products">
                {% for product in products %}
                    <option value="{{ product.productName }}"></option>
                {% endfor %}
            </datalist>
        </div>
        <div>
            <h2>Product List</h2>
            <table>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.productID }}</td>
                        <td>{{ product.productName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 