<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div>
    <h1></h1>
    
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <!-- Use for loop to display all customer in the database row by row -->
        {% for row in results %}
            <tr>
                <td>{{ row.customerName }}</td>
                <td>{{ row.productName }}</td>
                <td>{{ row.orderDate }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.total }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock%} 