<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<header>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <a href="/sales_record" class="dropbtn">Sales Record
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/customer">Customer</a>
                <a href="/supplier">Supplier</a>
                <a href="/product">Product</a>
                <a href="/purchase_order">Purchase Order</a>
                <a href="/sales_order">Sales Order</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/management" class="dropbtn">Management
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/management/customer_debt">Customer Debt</a>
                <a href="/management/stock">Stock</a>
            </div>
        </div>
    </div>
</header>
<div>
    <h1>Customer Management</h1>
    
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <!-- Use for loop to display all customer in the database row by row -->
        {% for customer in customers %}
            <tr>
                <td>{{ customer.customerID }}</td>
                <td>{{ customer.customerName }}</td>
                <td>{{ customer.customerPhone }}</td>
                <td>{{ customer.customerAddress }}</td>
                <td>
                    <!-- Pass customer's id to the URL, which the python function uses to determine the customer to delete -->
                    <a id="action", href="/customer/delete/{{ customer.customerID }}">Delete</a>
                    <br>
                    <!-- Pass customer's id to the URL, which the python function uses to determine the customer to update -->
                    <a id="action", href="/customer/update/{{ customer.customerID }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        
        <!-- Get user's input for new customer and send it to the main route for python program -->
        <form action="/customer" method="POST">
            <tr>
                <td></td>
                <td><input type="text" name="customerName" autocomplete="off"></td>
                <td><input type="text" name="customerPhone" autocomplete="off"></td>
                <td><input type="text" name = "customerAddress" autocomplete="off"></td>
                <td><input type="submit" value="Add Customer"></td>
            </tr>
        </form>
    </table>
</div>
{% endblock%} 