{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>Customer Management</h1>
    
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.customerID }}</td>
                <td>{{ customer.customerName }}</td>
                <td>{{ customer.customerPhone }}</td>
                <td>{{ customer.customerAddress }}</td>
                <td>
                    <a id="action", href="/customer/delete/{{ customer.customerID }}">Delete</a>
                    <a id="action", href="/customer/update/{{ customer.customerID }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        
        <form action="/customer" method="POST">
            <tr>
                <td></td>
                <td><input type="text" name="customerName" autocomplete="off" required></td>
                <td><input type="text" name="customerPhone" autocomplete="off" required></td>
                <td><input type="text" name = "customerAddress" autocomplete="off"></td>
                <td><input type="submit" value="Add Customer"></td>
            </tr>
        </form>
    </table>
</div>
{% endblock%} 