{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="home">
        <a href="/customer" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='customer.png') }}" alt="">
                {{ _('Customer') }}
            </div>
        </a>

        <a href="/supplier" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='supplier.png') }}" alt="">
                {{ _('Supplier') }}
            </div>
        </a>

        <a href="/product" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='product.png') }}" alt="">
                {{ _('Product') }}
            </div>
        </a>

        <a href="/purchase_order" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='purchase_order.png') }}" alt="">
                {{ _('Purchase Order') }}
            </div>
        </a>

        <a href="/sales_order" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='sales_order.png') }}" alt="">
                {{ _('Sales Order') }}
            </div>   
        </a>
    </div>
</main>
{% endblock%} 