<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<main>
    <div class="home">
        <a href="/sales_record" class="home-icon">
            <div class="icon-wrapper">
                <img src="{{ url_for('static', filename='sales_record.png') }}" alt="">
                Sales Record
            </div>
        </a>

        <a href="/management" class="home-icon">
            <div class="icon-wrapper">
                <img src="{{ url_for('static', filename='management.png') }}" alt="">
                Management
            </div>   
        </a>
    </div>
</main>
{% endblock%} 