{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="home">
        <a href="/sales" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='sales_order.png') }}" alt="">
                {{ _('Sales') }}
            </div>
        </a>

        <a href="/procurement" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='purchase_order.png') }}" alt="">
                {{ _('Procurement') }}
            </div>
        </a>
        
        <a href="/database" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='database.png') }}" alt="">
                {{ _('Database') }}
            </div>
        </a>
    </div>
</main>
{% endblock%} 