<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<main>
    <div class="home">
        <a href="/sales" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='sales_order.png') }}" alt="">
                Sales
            </div>
        </a>

        <a href="/procurement" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='purchase_order.png') }}" alt="">
                Procurement
            </div>
        </a>

        <a href="/management" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='management.png') }}" alt="">
                Management
            </div>   
        </a>
        
        <a href="/database" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='database.png') }}" alt="">
                Database
            </div>
        </a>
    </div>
</main>
{% endblock%} 