<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<main>
    <div class="home">
        <a href="/management/customer_debt" class="home-icon">
            <div class="icon-wrapper">
                <img src="{{ url_for('static', filename='customer_debt.png') }}" alt="">
                Customer Debt
            </div>
        </a>

        <a href="/management/stock" class="home-icon">
            <div class="icon-wrapper">
                <img src="{{ url_for('static', filename='stock.png') }}" alt="">
                Stock
            </div>   
        </a>
    </div>
</main>
{% endblock%} 