<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<header>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <a href="/sales_record" class="dropbtn">Sales Record
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/customer">Customer</a>
                <a href="/supplier">Supplier</a>
                <a href="/product">Product</a>
                <a href="/purchase_order">Purchase Order</a>
                <a href="/sales_order">Sales Order</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/management" class="dropbtn">Management
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/management/customer_debt">Customer Debt</a>
                <a href="/management/stock">Stock</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="home">
        <a href="/management/customer_debt" class="home-icon">
            <div class="icon-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/10842/10842288.png" alt="">
                Customer Debt
            </div>
        </a>

        <a href="/management/stock" class="home-icon">
            <div class="icon-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/5955/5955639.png" alt="">
                Stock
            </div>   
        </a>
    </div>
</main>
{% endblock%} 