<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div>
    <h1>Product Management</h1>
    <div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>Purchasing Price</th>
                    <th>Selling Price</th>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Actions</th>
                </tr>
                <!-- Use for loop to display all supplier in the database row by row -->
                {% for product in products %}
                    <tr>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCategory }}</td>
                        <td>{{ product.productDescription }}</td>
                        <td>{{ product.unit }}</td>
                        <td>{{ product.purchasingPrice }}</td>
                        <td>{{ product.sellingPrice }}</td>
                        <td>{{ product.supplierID }}</td>
                        <td>{{ product.supplierName }}</td>
                        <td>
                            <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to delete -->
                            <a id="action", href="/product/delete/{{ product.productID }}">Delete</a>
                            <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to update -->
                            <a id="action", href="/product/update/{{ product.productID }}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <!-- Get user's input for new supplier and send it to the main route for python program -->
                <form action="/product" method="POST">
                    <tr>
                        <td><input type="text" name="productName" autocomplete="off"></td>
                        <td><input type="text" name="productCategory" autocomplete="off"></td>
                        <td><input type="text" name = "productDescription" autocomplete="off"></td>
                        <td><input type="text" name="unit" autocomplete="off"></td>
                        <td><input type="number" name="purchasingPrice" autocomplete="off"></td>
                        <td><input type="number" name="sellingPrice" autocomplete="off"></td>
                        <td><input type="text" name="supplierID" autocomplete="off"></td>
                        <td><input type="text" name="supplierName" autocomplete="off" list="suppliers"></td>
                        <td><input type="submit" value="Add Product"></td>
                    </tr>
                </form>
                <datalist id="suppliers">
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.supplierName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div><br>

        <div>
            <h2>Supplier List</h2>
            <table>
                <tr>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                </tr>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.supplierID }}</td>
                        <td>{{ supplier.supplierName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 