{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>{{ _('Product Management') }}</h1>
    <div>
        <div>
            <table>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Category') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Unit') }}</th>
                    <th>{{ _('Purchasing Price') }}</th>
                    <th>{{ _('Selling Price') }}</th>
                    <th>{{ _('Supplier ID') }}</th>
                    <th>{{ _('Supplier Name') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCategory }}</td>
                        <td>{{ product.productDescription }}</td>
                        <td>{{ product.unit }}</td>
                        <td>{{ product.purchasingPrice }}</td>
                        <td>{{ product.sellingPrice }}</td>
                        <td>{{ product.supplierID }}</td>
                        <td>{{ product.supplierName }}</td>
                        <td>
                            <a id="action", href="/product/delete/{{ product.productID }}">{{ _('Delete') }}</a>
                            <a id="action", href="/product/update/{{ product.productID }}">{{ _('Update') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/product" method="POST">
                    <tr>
                        <td><input type="text" name="productName" autocomplete="off" required></td>
                        <td><input type="text" name="productCategory" autocomplete="off"></td>
                        <td><input type="text" name = "productDescription" autocomplete="off"></td>
                        <td><input type="text" name="unit" autocomplete="off"></td>
                        <td><input type="number" name="purchasingPrice" autocomplete="off" required></td>
                        <td><input type="number" name="sellingPrice" autocomplete="off" required></td>
                        <td><input type="text" name="supplierID" autocomplete="off"></td>
                        <td><input type="text" name="supplierName" autocomplete="off" list="suppliers"></td>
                        <td><input type="submit" value="Add Product"></td>
                    </tr>
                </form>
                <datalist id="suppliers">
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.supplierName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div><br>

        <div>
            <h2>{{ _('Supplier List') }}</h2>
            <table>
                <tr>
                    <th>{{ _('Supplier ID') }}</th>
                    <th>{{ _('Supplier Name') }}</th>
                </tr>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.supplierID }}</td>
                        <td>{{ supplier.supplierName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 