{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>{{ _('Purchase Order Management') }}</h1>
    <div>
        <div>
            <table>
                <tr>
                    <th>{{ _('Ordering Date') }}</th>
                    <th>{{ _('Payment Date') }}</th>
                    <th>{{ _('Supplier ID') }}</th>
                    <th>{{ _('Supplier Name') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
                {% for purchase_order in purchase_orders %}
                    <tr>
                        <td>{{ purchase_order.orderingDate }}</td>
                        <td>{{ purchase_order.paymentDate }}</td>
                        <td>{{ purchase_order.supplierID }}</td>
                        <td>{{ purchase_order.supplierName }}</td>
                        <td>
                            <a id="action", href="/purchase_order/delete/{{ purchase_order.purchaseOrderID }}">{{ _('Delete') }}</a>
                            <a id="action", href="/purchase_order/update/{{ purchase_order.purchaseOrderID }}">{{ _('Update') }}</a>
                            <a id="action", href="/purchase_order/add_products/{{ purchase_order.purchaseOrderID}}">{{ _('Add Products') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/purchase_order" method="POST">
                    <tr>
                        <td><input type="date" name="orderingDate" value="{{ today }}"></td>
                        <td><input type="date" name ="paymentDate"></td>
                        <td><input type="text" name="supplierID" autocomplete="off"></td>
                        <td><input type="text" name="supplierName" autocomplete="off" list="suppliers"></td>
                        <td><input type="submit" value="{{ _('Add Purchase Order') }}"></td>
                    </tr>
                </form>
                <datalist id="suppliers">
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.supplierName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div>

        <div>
            <h2>{{ _('Supplier List') }}</h2>
            <table>
                <tr>
                    <th>{{ _('Supplier ID') }}</th>
                    <th>{{ _('Supplier Name') }}</th>
                    <th>{{ _('Supplier Address') }}</th>
                </tr>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.supplierID }}</td>
                        <td>{{ supplier.supplierName }}</td>
                        <td>{{ supplier.supplierAddress }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    
</div>
{% endblock%} 