{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>Sales Order Management</h1>
    <div>
        <div>
            <table id="large_table">
                <tr>
                    <th>Received Date</th>
                    <th>Ordering Date</th>
                    <th>Completed Date</th>
                    <th>Payment Date</th>
                    <th>CustomerID</th>
                    <th>Customer Name</th>
                    <th>Actions</th>
                </tr>
                {% for sales_order in sales_orders %}
                    <tr>
                        <td>{{ sales_order.receivedDate }}</td>
                        <td>{{ sales_order.orderingDate }}</td>
                        <td>{{ sales_order.completedDate }}</td>
                        <td>{{ sales_order.paymentDate }}</td>
                        <td>{{ sales_order.customerID }}</td>
                        <td>{{ sales_order.customerName }}</td>
                        <td>
                            <a id="action", href="/sales_order/delete/{{ sales_order.salesOrderID }}">Delete</a>
                            <a id="action", href="/sales_order/update/{{ sales_order.salesOrderID }}">Update</a>
                            <a id="action", href="/sales_order/add_products/{{ sales_order.salesOrderID}}">Add Products</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/sales_order" method="POST">
                    <tr>
                        <td><input type="date" name="receivedDate" value="{{ today }}"></td>
                        <td><input type="date" name ="orderingDate"></td>
                        <td><input type="date" name ="completedDate"></td>
                        <td><input type="date" name ="paymentDate"></td>
                        <td><input type="text" name="customerID" autocomplete="off"></td>
                        <td><input type="text" name="customerName" autocomplete="off" list="customers"></td>
                        <td><input type="submit" value="Add Sales Order"></td>
                    </tr>
                </form>
                <datalist id="customers">
                    {% for customer in customers %}
                        <option value="{{ customer.customerName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div>
        <div>
            <h2>Customer List</h2>
            <table>
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.customerID }}</td>
                        <td>{{ customer.customerName }}</td>
                        <td>{{ customer.customerAddress }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 