<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<header>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <a href="/sales_record" class="dropbtn">Sales Record
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/customer">Customer</a>
                <a href="/supplier">Supplier</a>
                <a href="/product">Product</a>
                <a href="/purchase_order">Purchase Order</a>
                <a href="/sales_order">Sales Order</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/management" class="dropbtn">Management
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/management/customer_debt">Customer Debt</a>
                <a href="/management/stock">Stock</a>
            </div>
        </div>
    </div>
</header>
<div>
    <h1>Sales Order Management</h1>
    <div>
        <div>
            <table id="large_table">
                <tr>
                    <th>Order Date</th>
                    <th>Payment Date</th>
                    <th>Payment Method</th>
                    <th>Delivery Fee</th>
                    <th>Discount</th>
                    <th>Delivery Person</th>
                    <th>CustomerID</th>
                    <th>Customer Name</th>
                    <th>Actions</th>
                </tr>
                <!-- Use for loop to display all supplier in the database row by row -->
                {% for sales_order in sales_orders %}
                    <tr>
                        <td>{{ sales_order.orderDate }}</td>
                        <td>{{ sales_order.paymentDate }}</td>
                        <td>{{ sales_order.paymentMethod }}</td>
                        <td>{{ sales_order.deliveryFee }}</td>
                        <td>{{ sales_order.discount }}</td>
                        <td>{{ sales_order.deliveryPerson }}</td>
                        <td>{{ sales_order.customerID }}</td>
                        <td>{{ sales_order.customerName }}</td>
                        <td>
                            <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to delete -->
                            <a id="action", href="/sales_order/delete/{{ sales_order.salesOrderID }}">Delete</a>
                            <br>
                            <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to update -->
                            <a id="action", href="/sales_order/update/{{ sales_order.salesOrderID }}">Update</a>
                            <br>
                            <a id="action", href="/sales_order/add_products/{{ sales_order.salesOrderID}}">Add Products</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <!-- Get user's input for new supplier and send it to the main route for python program -->
                <form action="/sales_order" method="POST">
                    <tr>
                        <td><input type="date" name="orderDate" value="{{ today }}" class="oversized_input"></td>
                        <td><input type="date" name ="paymentDate" class="oversized_input"></td>
                        <td><input type="text" name="paymentMethod" autocomplete="off" class="oversized_input"></td>
                        <td><input type="number" name="deliveryFee" value=0 autocomplete="off" class="oversized_input"></td>
                        <td><input type="number" name="discount" value=0 autocomplete="off" class="oversized_input"></td>
                        <td><input type="text" name="deliveryPerson" value="Đào Thị Thanh Hà" autocomplete="off" class="oversized_input"></td>
                        <td><input type="text" name="customerID" autocomplete="off" class="oversized_input"></td>
                        <td><input type="text" name="customerName" autocomplete="off" class="oversized_input" list="customers"></td>
                        <td><input type="submit" value="Add Sales Order" class="oversized_input"></td>
                    </tr>
                </form>
                <datalist id="customers">
                    {% for customer in customers %}
                        <option value="{{ customer.customerName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div>
        <div>
            <h2>Customer List</h2>
            <table>
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.customerID }}</td>
                        <td>{{ customer.customerName }}</td>
                        <td>{{ customer.customerAddress }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 