<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<main>
    <div class="home">
        <a href="/customer" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='customer.png') }}" alt="">
                Customer
            </div>
        </a>

        <a href="/supplier" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='supplier.png') }}" alt="">
                Supplier
            </div>   
        </a>

        <a href="/product" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='product.png') }}" alt="">
                Product
            </div>   
        </a>

        <a href="/purchase_order" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='purchase_order.png') }}" alt="">
                Purchase Order
            </div>   
        </a>

        <a href="/sales_order" class="home__card">
            <div class="home__card--container">
                <img src="{{ url_for('static', filename='sales_order.png') }}" alt="">
                Sales Order
            </div>   
        </a>        
    </div>

        
    
</main>
{% endblock%} 