{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>{{ _('Sales Order Management') }}</h1>
    <div>
        <div>
            <table id="large_table">
                <tr>
                    <th>{{ _('Received Date') }}</th>
                    <th>{{ _('Ordering Date') }}</th>
                    <th>{{ _('Completed Date') }}</th>
                    <th>{{ _('Payment Date') }}</th>
                    <th>{{ _('Customer ID') }}</th>
                    <th>{{ _('Customer Name') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
                {% for sales_order in sales_orders %}
                    <tr>
                        <td>{{ sales_order.receivedDate }}</td>
                        <td>{{ sales_order.orderingDate }}</td>
                        <td>{{ sales_order.completedDate }}</td>
                        <td>{{ sales_order.paymentDate }}</td>
                        <td>{{ sales_order.customerID }}</td>
                        <td>{{ sales_order.customerName }}</td>
                        <td>
                            <a id="action", href="/sales_order/delete/{{ sales_order.salesOrderID }}">{{ _('Delete') }}</a>
                            <a id="action", href="/sales_order/update/{{ sales_order.salesOrderID }}">{{ _('Update') }}</a>
                            <a id="action", href="/sales_order/add_products/{{ sales_order.salesOrderID}}">{{ _('Add Products') }}</a>
                        </td>
                    </tr>
                {% endfor %}
                
                <form action="/sales_order" method="POST">
                    <tr>
                        <td><input type="date" name="receivedDate" value="{{ today }}"></td>
                        <td><input type="date" name ="orderingDate"></td>
                        <td><input type="date" name ="completedDate"></td>
                        <td><input type="date" name ="paymentDate"></td>
                        <td><input type="text" name="customerID" autocomplete="off"></td>
                        <td><input type="text" name="customerName" autocomplete="off" list="customers"></td>
                        <td><input type="submit" value="{{ _('Add Sales Order') }}"></td>
                    </tr>
                </form>
                <datalist id="customers">
                    {% for customer in customers %}
                        <option value="{{ customer.customerName }}"></option>
                    {% endfor %}
                </datalist>
            </table>
        </div>
        <div>
            <h2>{{ _('Customer List') }}</h2>
            <table>
                <tr>
                    <th>{{ _('Customer ID') }}</th>
                    <th>{{ _('Customer Name') }}</th>
                    <th>{{ _('Customer Address') }}</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.customerID }}</td>
                        <td>{{ customer.customerName }}</td>
                        <td>{{ customer.customerAddress }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%} 