<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div>
    <h1>Available Products</h1>
    
    <table>
        <tr>
            <th>Product</th>
            <th>In Stock</th>
            <th>Value</th>
        </tr>
        <!-- Use for loop to display all customer in the database row by row -->
        {% for row in results %}
            <tr>
                <td>{{ row.productName }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ row.totalPrice }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Total Value</th>
            <th></th>
            <th>{{ total_value }}</th>
        </tr>
    </table>
</div>
{% endblock%} 