{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>{{ _('Supplier Management') }}</h1>
    
    <table>
        <tr>
            <th>{{ _('Supplier ID') }}</th>
            <th>{{ _('Supplier Name') }}</th>
            <th>{{ _('Phone Number') }}</th>
            <th>{{ _('Address') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplierID }}</td>
                <td>{{ supplier.supplierName }}</td>
                <td>{{ supplier.supplierPhone }}</td>
                <td>{{ supplier.supplierAddress }}</td>
                <td>
                    <a id="action", href="/supplier/delete/{{ supplier.supplierID }}">{{ _('Delete') }}</a>
                    <a id="action", href="/supplier/update/{{ supplier.supplierID }}">{{ _('Update') }}</a>
                </td>
            </tr>
        {% endfor %}
        
        <form action="/supplier" method="POST">
            <tr>
                <td></td>
                <td><input type="text" name="supplierName" autocomplete="off" required></td>
                <td><input type="text" name="supplierPhone" autocomplete="off" required></td>
                <td><input type="text" name = "supplierAddress" autocomplete="off"></td>
                <td><input type="submit" value="Add Supplier" autocomplete="off"></td>
            </tr>
        </form>
    </table>
</div>
{% endblock%} 