<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div>
    <h1>Supplier Management</h1>
    
    <table>
        <tr>
            <th>Supplier ID</th>
            <th>Supplier Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <!-- Use for loop to display all supplier in the database row by row -->
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplierID }}</td>
                <td>{{ supplier.supplierName }}</td>
                <td>{{ supplier.supplierPhone }}</td>
                <td>{{ supplier.supplierAddress }}</td>
                <td>
                    <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to delete -->
                    <a id="action", href="/supplier/delete/{{ supplier.supplierID }}">Delete</a>
                    <!-- Pass supplier's id to the URL, which the python function uses to determine the supplier to update -->
                    <a id="action", href="/supplier/update/{{ supplier.supplierID }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        
        <!-- Get user's input for new supplier and send it to the main route for python program -->
        <form action="/supplier" method="POST">
            <tr>
                <td></td>
                <td><input type="text" name="supplierName" autocomplete="off" required></td>
                <td><input type="text" name="supplierPhone" autocomplete="off" required></td>
                <td><input type="text" name = "supplierAddress" autocomplete="off"></td>
                <td><input type="submit" value="Add Supplier" autocomplete="off"></td>
            </tr>
        </form>
    </table>
</div>
{% endblock%} 