<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div class="content">
    <h1>Customer Management</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        <form action="/customer/update/{{ customer.customerID }}" method="POST">
        <tr>
            <td><input type="text" name="customerName" value="{{ customer.customerName }}" autocomplete="off"></td>
            <td><input type="text" name="customerPhone" value="{{ customer.customerPhone }}" autocomplete="off"></td>
            <td><input type="text" name = "customerAddress" value="{{ customer.customerAddress }}" autocomplete="off"></td>
            <td><input type="submit" value="Update"></td>
        </tr>
        </form>
    </table>
</div>
    <!-- Get user's input for updating the customer and send it to the route with customer's id to python's updating function -->
{% endblock%} 