<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div class="content">
    <h1>Sales Order Management</h1>
    <table>
        <tr>
            <th>Received Date</th>
            <th>Ordering Date</th>
            <th>Completed Date</th>
            <th>Payment Date</th>
            <th>Customer ID</th>
            <th>Action</th>
        </tr>
        <form action="/sales_order/update/{{ sales_order.salesOrderID }}" method="POST">
        <tr>
            <td><input type="date" name="receivedDate" value="{{ sales_order.receivedDate }}"></td>
            <td><input type="date" name="orderingDate" value="{{ sales_order.orderingDate }}"></td>
            <td><input type="date" name="completedDate" value="{{ sales_order.completedDate }}"></td>
            <td><input type="date" name="paymentDate" value="{{ sales_order.paymentDate }}"></td>
            <td><input type="text" name ="customerID" value="{{ sales_order.customerID }}" autocomplete="off"></td>
            <td><input type="submit" value="Update"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock%} 