<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<div class="content">
    <h1>Product Management</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Purchasing Price</th>
            <th>Selling Price</th>
            <th>Supplier ID</th>
        </tr>
        <form action="/product/update/{{ product.productID }}" method="POST">
        <tr>
            <td><input type="text" name="productName" value="{{ product.productName }}" autocomplete="off"></td>
            <td><input type="text" name="productCategory" value="{{ product.productCategory }}" autocomplete="off"></td>
            <td><input type="text" name ="productDescription" value="{{ product.productDescription }}" autocomplete="off"></td>
            <td><input type="text" name="unit" value="{{ product.unit }}" autocomplete="off"></td>
            <td><input type="number" name="purchasingPrice" value="{{ product.purchasingPrice }}" autocomplete="off"></td>
            <td><input type="number" name="sellingPrice" value="{{ product.sellingPrice }}" autocomplete="off"></td>
            <td><input type="text" name="supplierID" value="{{ product.supplierID }}" autocomplete="off"></td>
            <td><input type="submit" value="Update"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock%} 