{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ _('Product Management') }}</h1>
    <table>
        <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Category') }}</th>
            <th>{{ _('Description') }}</th>
            <th>{{ _('Unit') }}</th>
            <th>{{ _('Purchasing Price') }}</th>
            <th>{{ _('Selling Price') }}</th>
            <th>{{ _('Supplier ID') }}</th>
        </tr>
        <form action="/product/update/{{ product.productID }}" method="POST">
        <tr>
            <td><input type="text" name="productName" value="{{ product.productName }}" autocomplete="off"></td>
            <td><input type="text" name="productCategory" value="{{ product.productCategory }}" autocomplete="off"></td>
            <td><input type="text" name ="productDescription" value="{{ product.productDescription }}" autocomplete="off"></td>
            <td><input type="text" name="unit" value="{{ product.unit }}" autocomplete="off"></td>
            <td><input type="number" name="purchasingPrice" value="{{ product.purchasingPrice }}" autocomplete="off"></td>
            <td><input type="number" name="sellingPrice" value="{{ product.sellingPrice }}" autocomplete="off"></td>
            <td><input type="text" name="supplierID" value="{{ product.supplierID }}" autocomplete="off"></td>
            <td><input type="submit" value="{{ _('Update') }}"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock%} 