<!-- Use Flask syntax to inherits the format of base.html -->
{% extends 'base.html' %}

<!-- Head block inheriting from base.html's head -->
{% block head %}

{% endblock %}

<!-- Body block inheriting from base.html's body -->
{% block body %}
<header>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <a href="/sales_record" class="dropbtn">Sales Record
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/customer">Customer</a>
                <a href="/supplier">Supplier</a>
                <a href="/product">Product</a>
                <a href="/purchase_order">Purchase Order</a>
                <a href="/sales_order">Sales Order</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/management" class="dropbtn">Management
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="/management/customer_debt">Customer Debt</a>
                <a href="/management/stock">Stock</a>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <h1>Purchase Order Management</h1>
    <table>
        <tr>
            <th>Order Date</th>
            <th>Payment Date</th>
            <th>Supplier ID</th>
        </tr>
        <form action="/purchase_order/update/{{ purchase_order.purchaseOrderID }}" method="POST">
        <tr>
            <td><input type="date" name="orderDate" value="{{ purchase_order.orderDate }}"></td>
            <td><input type="date" name="paymentDate" value="{{ purchase_order.paymentDate }}"></td>
            <td><input type="text" name ="supplierID" value="{{ purchase_order.supplierID }}" autocomplete="off"></td>
            <td><input type="submit" value="Update"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock%} 